.buttonArea {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 1.5rem;
  grid-gap: 1rem;
}
.button {
  cursor: pointer;
  border-radius: 50%;
  border: none;
  display: block;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
}

.button:active {
  box-shadow: 0 5px #666;
  transform: translateY(3px);
}

.value {
  color: white;
  background-color: transparent;
  outline: none;
  border: none;
}

.equal {
  color: green;
  border-radius: 5px;
  width: 100%;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 6;
}
.answer {
  border-radius: 5px;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 6;
}

.clear,
.delete {
  color: darkred;
  background-color: white;
}

.clearAll {
  color: peru;
}
